/* Общий стиль для страницы */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f9f9f9;
}

/* Контейнер для формы */
.container {
    max-width: 220px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Общий стиль для меток и полей ввода */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333333;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Стили для полей с ошибками */
input.error, select.error {
    border: 1px solid red;
    background-color: #ffe6e6;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 10px;
    display: none; /* По умолчанию скрыто */
}

/* Контейнер для QR-кода */
#qrCodeContainer {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;    /* Центрирование по вертикали */
    margin-top: 20px;
    height: 200px;          /* Фиксированная высота для центрирования */
    position: relative;

}

/* Полотно QR-кода */
#qrCodeCanvas {
    display: block;
    margin: auto;           /* Центрирование внутри контейнера */
    max-width: 100%;
    height: auto;           /* Сохранение пропорций */
}

